*{
    margin: 0;
    padding: 0;
}
/* Header banner Section Start Here */
body{
    margin-top: 0px;
}
.banner{
    width: 100%;
    height: 100vh;
    background: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-content{
    text-align: right;
    margin-right: 250px;
}
.title{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.description{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}
.btn{
    padding: 15px 18px;
    border-radius: 3px;
    border: none;
    background: #FFF;
    font-size: 20px;
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
}
 /* My failur of Previous Year Section Start Here */
.failures{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    padding: 0px 120px;
    margin: 100px 200px;
}
.image{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.failure-text{
    display: flex;
    flex-direction: column;
}
.fail-title{
    text-align: left;
    font-family: Work Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.fail-p{
    display: flex;
    flex-direction: column;
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fail-des{
    margin: 15px 0px;
}
.fail-check{
    line-height: 40px;
}
/* My Plan Section Start Here  */
.plan-title{
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.my-plan{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 100px;
    padding: 10px 20px;
}
.myplanitem{
    text-align: center;
}
.myplanitem h4{
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 0px;
}
.myplanitem p{
    color: var(--dark-03, #737272);
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.callnow{
    background-image: url('images/gradient1.png'), url('images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 150px 230px;
    padding: 60px 100px;
    border-radius: 8px;
}
.callnow h3{
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.callnow button{
    padding: 20px 36px;
    margin-top: 25px;
    border-radius: 5px;
}
/* Footer Section Start Here  */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #151414;
    color: #F8F8F8;
    font-family: Work Sans;
    padding: 130px 230px 130px 230px;
    gap: 400px;
}
.footer-text h3{
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-text p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}
.social-links a{
    padding-right: 20px;
}
.footer-mail h3{
    color: #FFF;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}
.footer-mail input{
    padding: 18px 28px;
    margin-top: 25px;
    color: #F3F3F3;
    background: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    border: 2px solid #FFF;
}
.footer-mail input::placeholder {
    color: #F3F3F3;
    opacity: 1;
}
.btn-foot{
    border-radius: 8px;
    background: #005FAC;
    padding: 20px 36px;
    margin-top: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}